
@{
    ViewBag.Title = "forgetpassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="contact-us overview-block-ptb">
    <div class="container">

        <div class="row justify-content-center mt-4">

            <div class="col-lg-6">
                <form id="" method="post">
                    <div class="text-center mb-4">
                        <h4 class="title iq-tw-6">RESET PASSWORD</h4>
                    </div>

                    <div class="contact-form">


                        <div class="section-field">
                            <input class="require" id="contact_name" type="text" placeholder="User Id*" name="name">
                        </div>

                        <div class="d-block text-center">
                            <button id="submit" name="submit" type="submit" value="Send" class="button iq-mt-15">Reset</button>
                        </div>


                        <div class="col-lg-12 mt-4 text-center">
                            <p style="margin: 0px;">Back to login ? <a href="/Home/signin">Click Here</a></p>


                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</section>


