@model UniqueTrade_App.Models.ContactEnquiry
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- #INCLUDE FILE = "header.asp" -->
<!-- main-area -->
<main class="fix">

    <!-- banner-area -->
    <section class="banner-area banner-bg">
        <div class="banner-shape-wrap">
            <img src="/Content/front/assets/img/banner/banner_shape01.png" alt="" class="img-one">
            <img src="/Content/front/assets/img/banner/banner_shape02.png" alt="" class="img-two">
            <img src="/Content/front/assets/img/banner/banner_shape03.png" alt="" class="img-three">
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="banner-content text-center">
                        <img src="/Content/front/assets/img/icon/fire.png" alt="">
                        <h2 class="title">Secure your financial freedom with the latest  <span>blockchain technology</span></h2>
                        <p>Trade with confidence using our advanced, user-friendly trading platform</p>
                        <a href="/Home/signin" class="btn">Login</a>
                        <a href="/Home/signup" class="btn">Register</a>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- banner-area-end -->
    <!-- about-area -->
    <section id="about" class="about-area pt-130 pb-130">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img wow fadeInLeft" data-wow-delay=".2s">
                        <img src="/Content/front/assets/img/images/about_img01.png" alt="">
                        <img src="/Content/front/assets/img/images/about_img02.png" alt="" class="img-two">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content wow fadeInRight" data-wow-delay=".2s">
                        <div class="section-title mb-30">
                            <span class="sub-title">Who we are</span>
                            <h2 class="title">
                                Why Should You Trade With <span>Uniquetrade ? </span>
                            </h2>
                        </div>
                        <p>
                            At Uniquetrade, we have two core business obsessions; technology and service. Our advanced
                            technology is a focus because it increases efficiency for you, for us and for our partners.
                        </p>
                        <p>
                            We take pride in offering you a transparent, safe and secure trading model. Trading via the
                            latest technology helps speed up and improve decision making as well as providing a better
                            customer experience. This enables you to have the best possible opportunities to succeed
                            trading online in the financial markets.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-area-end -->


    <section class="choose-area pb-130">
        <div class="container custom-container-four">

            <div class="row text-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item-two wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="choose-icon-two">
                            <img src="/Content/front/assets/img/icon/h2_choose_icon01.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Our Vision</a></h2>
                            <p>
                                Our vision is to create the best trading experience for you to be successful. So anyone,
                                anywhere, can trade.We believe true success lies beneath good underpinning at the seed level
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item-two wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="choose-icon-two">
                            <img src="/Content/front/assets/img/icon/h2_choose_icon04.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Our Mission</a></h2>
                            <p>
                                Our mission is to offer the best products and services, build the best technology and educate you
                                ready for success. Our client-centric approach is what drives us to innovate and deliver on a
                                daily basis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="choose-item-two wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">
                        <div class="choose-icon-two">
                            <img src="/Content/front/assets/img/icon/h2_choose_icon03.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Our Values</a></h2>
                            <p>
                                Give traders the knowledge they need and the tools to succeed from day one. And make the
                                experience fantastic.Everything we do is designed with their end goals as our priority
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!-- choose-area -->
    <section class="choose-area pb-130" id="sales">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <div class="section-title text-center mb-50">
                        <span class="sub-title">why Choose us</span>
                        <h2 class="title">Our <span>Features</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-3 mt-2">
                    <div class="choose-item">
                        <div class="choose-icon">
                            <img src="/Content/front/assets/img/icon/choose_icon02.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">User-friendly Interface</a></h2>
                            <p>Design an intuitive and user-friendly interface that makes it easy for traders of all experience levels to navigate the platform.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-2">
                    <div class="choose-item">
                        <div class="choose-icon">
                            <img src="/Content/front/assets/img/icon/choose_icon03.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Deposits and Withdrawals</a></h2>
                            <p>Provide a secure and efficient system for users to deposit funds into their trading accounts and withdraw their profits.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mt-2">
                    <div class="choose-item">
                        <div class="choose-icon">
                            <img src="/Content/front/assets/img/icon/choose_icon02.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Analysis & Planning</a></h2>
                            <p>
                                Each investors (clients) has unique needs, so we are giving the best opportunity to earn
                                unlimited income and valuable reward.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mt-2">
                    <div class="choose-item">
                        <div class="choose-icon">
                            <img src="/Content/front/assets/img/icon/choose_icon03.svg" alt="">
                        </div>
                        <div class="choose-content">
                            <h2 class="title"><a href="#">Secure And Stable</a></h2>
                            <p>With solid industry experience,Uniquetrade is a highly-secure digital asset exchange our suite of advanced tools.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- choose-area-end -->

    <section class="contact-area pt-70 pb-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-70">
                        <span class="sub-title">Join Uniquetrade</span>
                        <h2 class="title">
                            <span>
                                Kickoff Your Journey
                            </span> in just 3 steps
                        </h2>
                    </div>
                </div>
            </div>
            <div class="contact-info-wrap">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info-item">
                            <div class="icon">
                                <span class="icon-background"></span>
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="content">
                                <h5>Open your account</h5>
                                <p>Register on the site if someone invited you, use his referral link, check that your upline is correct.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info-item">
                            <div class="icon">
                                <span class="icon-background"></span>
                                <i class="fas fa-donate"></i>
                            </div>
                            <div class="content">
                                <h5>Fund your account</h5>
                                <p>Deposit funds from a credit card, E-Wallet, bank transfer or any online mode to start trading.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="contact-info-item">
                            <div class="icon">
                                <span class="icon-background"></span>
                                <i class="fas fa-chart-line"></i>
                            </div>
                            <div class="content">
                                <h5>Start trading</h5>
                                <p>Trade on every device, including PC, Android, iPad and iPhone or via web browser.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <!-- contact-area -->
    <section id="contact" class="contact-area pt-70 pb-110">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center mb-70">
                        <span class="sub-title">Contact</span>
                        <h2 class="title"><span>Contact</span> Uniquetrade</h2>
                    </div>
                </div>
            </div>

            <div class="contact-form-wrap">
                <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-grp">
                                <input type="text" placeholder="Enter your Name" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-grp">
                                <input type="email" placeholder="Enter you email" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-grp">
                        <textarea name="massage" placeholder="Enter your massage"></textarea>
                    </div>
                    <div class="submit-btn text-center">
                        <button type="submit" class="btn">Send Massage</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- contact-area-end -->

</main>
<!-- main-area-end -->
<!-- #INCLUDE FILE = "footer.asp" -->