@model UniqueTrade_App.Models.SignInModel
@{
    ViewBag.Title = "Plan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--#INCLUDE FILE= "header.asp"-->

<section class="contact-us " style="padding-top: 150px;">
    <div class="container">
        <div class="row banner-content-area justify-content-center">
            <div class="col-12 col-md-6  text-center wow fadeInUp" data-wow-duration="0.9s"
                 data-wow-delay=".5s">
                <h1 class="text-white pb-3">Business Plan</h1>
                <a href="/Content/front/images/Royal-Blocks-Eng.pdf" target=_blank class="button iq-mt-15">English PDF</a>
                 <a href="/Content/front/images/Royal-Blocks-Hindi.pdf" target=_blank class="button iq-mt-15">Hindi PDF</a>
            </div>
        </div>
        
    </div>
</div>


        


<!--#INCLUDE FILE= "footer.asp"-->