
@{
    ViewBag.Title = "Secure_Fund_Wallet";
    Layout = "~/Views/Shared/_User_Layout.cshtml";
}

@*<h2>Secure_Fund_Wallet</h2>*@

<div class="content-wrapper">
    <div class="container-full">
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="mr-auto">
                    <h3 class="page-title">Secure Fund Wallet</h3>
                    <div class="d-inline-block align-items-center">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="ti-home"></i></a></li>
                                <li class="breadcrumb-item" aria-current="page">Secure Fund</li>
                                <li class="breadcrumb-item active" aria-current="page">Secure Fund Wallet</li>
                            </ol>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="box">
                        <div class="box-header">
                            <h4 class="box-title">Secure Fund Wallet</h4>
                        </div>
                        <div class="box-body">

                            <div class="row gutters">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Wallet Balance</label>
                                        <select class="form-control">
                                            <option>00</option>
                                            <option>00</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>User Id</label>
                                        <input type="text" class="form-control" placeholder="Enter User Id">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="text" class="form-control" placeholder="Enter Amount">
                                    </div>
                                </div>
                            </div>
                            <div class="row gutters">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                    <div class="text-right">

                                        <button type="button" id="submit" name="submit"
                                                class="btn btn-dark">
                                            Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>

<!-- /.content-wrapper -->
<!-- #INCLUDE FILE = "footer.asp" -->