<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	 
    <add key="senderIP" value="9oiQmSVjeKaRDBv4C2DtTbJN5BNDijPTmX4af1HAkWo=" />
    <add key="senderuser" value="A7hYZeIdX31kqmFYc7VN7xdSi0PR5z5UMjylmHUb/rCQ8uPCglFYK7o4irfyqSBpEqHSSKFU2Fy/C7RDy9s6uw==" />
    <add key="senderdbname" value="A7hYZeIdX31kqmFYc7VN751XjXUL4I2sR1RMSDuuAD0=" />
    <add key="senderPass" value="A7hYZeIdX31kqmFYc7VN7+k7JZdXXUENMqoRNrWMgsahOERbrpUVJHzLk07B141nMwP6FRgo1s746kvrjVaBGQ==" />
 
    

	  <add key="domainName" value="http://RoyalBlocks.com/" />

	  <add key="Coinpayment_Private_Key" value="43a6673F5a476Ca9A1a298a5a92f86CCE4db3cdf53655602cC88cBa2552a4177" />
	  <add key="Coinpayment_Public_Key" value="e3e6c1c4e9df819315c7802e77831e1f512a08038116a263b43a2823074bf8e7" />


	  <add key="senderHost" value="smtp.gmail.com" />
	  <add key="senderName" value="Royal Blocks" />

	  <add key="senderEmlID" value="RoyalBlocks52@gmail.com" />
	  <add key="senderEmlPass" value="mvvwmgprudpmdoqg" />
	  <add key="senderPort" value="587" />
	  <add key="AdminEmail" value="RoyalBlocks52@gmail.com" />
	  <add key="senderHost" value="smtp.gmail.com" />
	  <add key="IsEmlAlow" value="true" />
	  <add key="IsEmailAllow" value="true" />
	  <add key="IsSMSAlow" value="false" />
  </appSettings>
  <system.web>
	  <customErrors mode="Off"></customErrors>
	  <trust level="Full" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>